## ide
**/.idea
**/.vscode
*.iml

## backend
**/target
**/logs

## front
**/*.lock

## env
.env
docs/
!jshERP-boot/docs/
jshERP-boot/docs/*
!jshERP-boot/docs/jsh_erp_in_out_item_fix_pg.sql
!jshERP-boot/docs/jsh_erp_account_fix_pg.sql
!jshERP-boot/docs/jsh_erp_person_fix_pg.sql
